@{
    ViewBag.Title = "Return";
}


<div class="jumbotron vertical-center">
    <div class="container">
        <img src="~/Content/tapeexpand.jpg" alt="Movies Yay" width="900" />
    </div>
</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Instructions for returns aren't included in this package. Upgrade to a premium package first

</p>